body {
  margin: 0;
}

/* Light switch  */

.light-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pass a Message */

.mess-cont {
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mess-box {
  background-color: rgb(229, 229, 229);
  width: 800px;
  height: 400px;
  text-align: center;
}
.mess-cont h4 {
  font-size: 30px;
}
#text {
  width: 600px;
  height: 30px;
  font-size: 20px;
}
#submit {
  margin-top: 10px;
  padding: 15px 30px;
  background-color: rgb(164, 217, 234);
  color: white;
  border: none;
}
#result {
  color: rgb(152, 208, 226);
  font-size: 20px;
}

/* Word Count */

.count-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count-box {
  text-align: center;
}
.count-box h2 {
  font-size: 40px;
}
#count-text {
  width: 300px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
}
#count-btn {
  margin-top: 10px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.count-box h4 {
  font-size: 30px;
}

/* Tip Calculator */

.tip-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, black, red);
}
.tip-box {
  background-color: white;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid black;
}
.head {
  text-align: center;
  background-color: rgb(64, 0, 0);
  color: white;
  width: 350px;
}
#tip-btn {
  margin-top: 10px;
  padding: 15px 30px;
  background-color: rgb(161, 2, 2);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}
#amount,
#people {
  height: 30px;
  width: 200px;
  font-size: 15px;
}

/* Counter */

.counter-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-box {
  text-align: center;
}
.counter-box h1 {
  font-size: 50px;
}

#counter-result {
  font-size: 50px;
}
.counter-btn {
  font-size: 15px;
  border: solid 2px black;
  border-radius: 8px;
  background-color: white;
  margin: 30px 8px;
}
.counter-btn:hover {
  background-color: black;
  color: white;
}

/* Voting System */

.voting-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: lightblue;
}
.voting-box {
  padding-top: 20px;
  width: 300px;
  height: 360px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
#voting-btn {
  padding: 10px 50px;
  background-color: green;
  border: none;
  color: white;
}
#voting-btn2 {
  padding: 10px 50px;
  background-color: green;
  border: none;
  color: white;
}
#voting-btn3 {
  padding: 10px 50px;
  background-color: green;
  border: none;
  color: white;
}
